({:html_url "https://github.com/thoughtbot/paperclip",
  :description "Easy file attachment management for ActiveRecord",
  :archived false,
  :open_issues_count 49,
  :watchers 9070,
  :ssh_url "git@github.com:thoughtbot/paperclip.git",
  :hooks_url "https://api.github.com/repos/thoughtbot/paperclip/hooks",
  :archive_url "https://api.github.com/repos/thoughtbot/paperclip/{archive_format}{/ref}",
  :keys_url "https://api.github.com/repos/thoughtbot/paperclip/keys{/key_id}",
  :forks_count 2327,
  :languages_url "https://api.github.com/repos/thoughtbot/paperclip/languages",
  :git_url "git://github.com/thoughtbot/paperclip.git",
  :permissions {:admin true,
                :maintain true,
                :push true,
                :triage true,
                :pull true},
  :issue_comment_url "https://api.github.com/repos/thoughtbot/paperclip/issues/comments{/number}",
  :git_refs_url "https://api.github.com/repos/thoughtbot/paperclip/git/refs{/sha}",
  :clone_url "https://github.com/thoughtbot/paperclip.git",
  :contents_url "https://api.github.com/repos/thoughtbot/paperclip/contents/{+path}",
  :has_downloads true,
  :teams_url "https://api.github.com/repos/thoughtbot/paperclip/teams",
  :has_issues true,
  :disabled false,
  :issue_events_url "https://api.github.com/repos/thoughtbot/paperclip/issues/events{/number}",
  :license {:key "other",
            :name "Other",
            :spdx_id "NOASSERTION",
            :url nil,
            :node_id "MDc6TGljZW5zZTA="},
  :private false,
  :watchers_count 9070,
  :collaborators_url "https://api.github.com/repos/thoughtbot/paperclip/collaborators{/collaborator}",
  :homepage "https://thoughtbot.com",
  :git_commits_url "https://api.github.com/repos/thoughtbot/paperclip/git/commits{/sha}",
  :name "paperclip",
  :releases_url "https://api.github.com/repos/thoughtbot/paperclip/releases{/id}",
  :milestones_url "https://api.github.com/repos/thoughtbot/paperclip/milestones{/number}",
  :svn_url "https://github.com/thoughtbot/paperclip",
  :node_id "MDEwOlJlcG9zaXRvcnk4Mzkz",
  :merges_url "https://api.github.com/repos/thoughtbot/paperclip/merges",
  :compare_url "https://api.github.com/repos/thoughtbot/paperclip/compare/{base}...{head}",
  :stargazers_count 9070,
  :tags_url "https://api.github.com/repos/thoughtbot/paperclip/tags",
  :statuses_url "https://api.github.com/repos/thoughtbot/paperclip/statuses/{sha}",
  :notifications_url "https://api.github.com/repos/thoughtbot/paperclip/notifications{?since,
                     all,
                     participating}",
  :open_issues 49,
  :has_wiki true,
  :size 3508,
  :assignees_url "https://api.github.com/repos/thoughtbot/paperclip/assignees{/user}",
  :commits_url "https://api.github.com/repos/thoughtbot/paperclip/commits{/sha}",
  :labels_url "https://api.github.com/repos/thoughtbot/paperclip/labels{/name}",
  :forks_url "https://api.github.com/repos/thoughtbot/paperclip/forks",
  :contributors_url "https://api.github.com/repos/thoughtbot/paperclip/contributors",
  :updated_at "2021-08-18T02:59:56Z",
  :pulls_url "https://api.github.com/repos/thoughtbot/paperclip/pulls{/number}",
  :has_pages false,
  :default_branch "master",
  :language "Ruby",
  :comments_url "https://api.github.com/repos/thoughtbot/paperclip/comments{/number}",
  :id 8393,
  :stargazers_url "https://api.github.com/repos/thoughtbot/paperclip/stargazers",
  :issues_url "https://api.github.com/repos/thoughtbot/paperclip/issues{/number}",
  :trees_url "https://api.github.com/repos/thoughtbot/paperclip/git/trees{/sha}",
  :events_url "https://api.github.com/repos/thoughtbot/paperclip/events",
  :branches_url "https://api.github.com/repos/thoughtbot/paperclip/branches{/branch}",
  :url "https://api.github.com/repos/thoughtbot/paperclip",
  :downloads_url "https://api.github.com/repos/thoughtbot/paperclip/downloads",
  :forks 2327,
  :subscribers_url "https://api.github.com/repos/thoughtbot/paperclip/subscribers",
  :full_name "thoughtbot/paperclip",
  :blobs_url "https://api.github.com/repos/thoughtbot/paperclip/git/blobs{/sha}",
  :subscription_url "https://api.github.com/repos/thoughtbot/paperclip/subscription",
  :fork false,
  :deployments_url "https://api.github.com/repos/thoughtbot/paperclip/deployments",
  :has_projects false,
  :pushed_at "2021-07-02T05:36:54Z",
  :owner {:html_url "https://github.com/thoughtbot",
          :gravatar_id "",
          :followers_url "https://api.github.com/users/thoughtbot/followers",
          :subscriptions_url "https://api.github.com/users/thoughtbot/subscriptions",
          :site_admin false,
          :following_url "https://api.github.com/users/thoughtbot/following{/other_user}",
          :node_id "MDEyOk9yZ2FuaXphdGlvbjYxODM=",
          :type "Organization",
          :received_events_url "https://api.github.com/users/thoughtbot/received_events",
          :login "thoughtbot",
          :organizations_url "https://api.github.com/users/thoughtbot/orgs",
          :id 6183,
          :events_url "https://api.github.com/users/thoughtbot/events{/privacy}",
          :url "https://api.github.com/users/thoughtbot",
          :repos_url "https://api.github.com/users/thoughtbot/repos",
          :starred_url "https://api.github.com/users/thoughtbot/starred{/owner}{/repo}",
          :gists_url "https://api.github.com/users/thoughtbot/gists{/gist_id}",
          :avatar_url "https://avatars.githubusercontent.com/u/6183?v=4"},
  :git_tags_url "https://api.github.com/repos/thoughtbot/paperclip/git/tags{/sha}",
  :created_at "2008-04-10T19:58:20Z",
  :mirror_url nil})
